 body{
  background-image:url( xiong2010307222.github.io/image/pku.jpg  );
  background-repeat:no-repeat;
  background-position:center;
}
.frozen{
 color:blue;
 width:70px;
 margin:11px;
 padding:6px;
}
 

#eins{
 color:red;
background-image:url( xiong2010307222.github.io/image/pku.jpg  );
  background-repeat:no-repeat;
  background-position:center;
 
